* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("espaco.jpg");
    background-size: cover;
    animation: translacao 10s linear infinite;
    /* */
}
.globo {
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 50%;
    background: url("terra.jpg");
    background-size: cover;
    box-shadow: 0px 0px 20px inset rgba(255, 255, 255, 0.705),
     0px 0px 40px rgb(145, 145, 228),
     -25px -25px 25px black inset;
     display: flex;
     animation: rotacionar 20s linear infinite;
}

@keyframes rotacionar {
    to {
        background-position: -200%;
    }
}

@keyframes translacao {
    to {
        background-position: -500%;
    }

}